/* Link styles */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link {
    color: #f0f412;
}

a:visited {
    color: #086d79;
}

a:hover {
    color: #fdfefe;
}

a:active {
    color: inherit;
}

/* Paragraph styles */
p, p.indented, p.grayText, p.lightGrayText {
    padding: 0;
    margin: 0;
    line-height: 20px;
}

p.indented, p.grayText, p.lightGrayText {
    margin-left: 30px;
}

p.grayText {
    color: #a8a8a8;
    font-family: "tinos", serif; 
    font-weight: 400;
    font-style: oblique;
    font-size: 17px;
}

p.lightGrayText {
    color: #d0d0d0;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

/* Title styles */
.mainTitle, .subTitle, .subTitleAlt, .sectionTitle {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.mainTitle {
    color: #ffffff;
    font-weight: 500;
    font-size: 44px;
}

.subTitle {
    color: #a8a8a8;
    font-weight: 300;
    font-size: 25px;
}

.subTitleAlt {
    color: #ffffff;
    font-weight: 520;
    font-size: 30px;
}

.sectionTitle {
    color: #ffffff;
    font-weight: 400;
    font-size: 88px;
}

.grayText {
    color: #a8a8a8;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

.smallWhiteText {
    color: #ffffff;
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

/* Body styles */
body {
    background-color: #222222;
}

.bodyTextPanel {
    color: #eeeeee;
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -0.5px; 
    line-height: 1;
}

.bodyTextBlock {
    text-align: left;
    display: block;
}

.bodyTextIndent, .bodyTextDoubleIndent {
    text-indent: 4%;
}

.bodyTextDoubleIndent {
    text-indent: 8%;
}

/* Other styles */
.centerText, .leftAlign, .rightAlign {
    text-align: center;
}

.leftAlign {
    position: absolute;
    left: 0px;
}

.rightAlign {
    right: 10px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.gridTitle {
    grid-row: 1;
    grid-column: 20/80;
}

.gridNavBar {
    grid-row: 3/4;
    grid-column: 7/10;
}

.gridBodyText {
    grid-row: 2/8;
    grid-column: 20/80;
}


.gallery-content {
    display: none;
    text-align: center; /* Center the content */
}

.gallery-content.active {
    display: block;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    font-size: 2em;
    color: #fff;
    z-index: 1;
}

.arrow:hover {
    transform: scale(1.5) translateY(-50%);

}

.left-arrow {
    left: 12%
}

.right-arrow {
    right: 12%
}

.gallery {
    position: relative; /* Ensure positioning context for arrows */
}


.gallery-caption {
    text-align: center;
    letter-spacing: -0.5px; 
    margin-top: 10px;

    color: #a8a8a8;
    font-family: "tinos", serif; 
    font-weight: 400;
    font-style: oblique;
    font-size: 17px;
}


#caption-text {
    font-size: 18px;
    margin: 0;
}


/* Collapsible Section Styles */
.collapsible {
    background-color: #333232;
    color: rgb(204, 204, 204);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    outline: none;
    font-family: "futura-pt";
    letter-spacing: -0.5px;
    font-size: 13px;
    margin-top: 10px;

    border-radius: 12px; /* Adjust the value for desired roundness */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: border for added effect */
}


.collapsible:hover {
    background-color: rgba(38, 39, 43, 0.5);
    color: white;
    font-weight: 500;
    letter-spacing: 0px;
}

.active {
    background-color: rgba(38, 39, 43, 0.5); /* Semi-transparent background */
    border-radius: 12px; /* Adjust the value for desired roundness */
    backdrop-filter: blur(50px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: border for added effect */
}


.content {
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: none; /* or simply remove this line */
    border-radius: 4px; /* Adjust the value for desired roundness */
    color: black;
    margin-bottom: 0;
}


pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
    font-size: 14px;
    line-height: 1.5;
}

pre code {
    white-space: pre;
    overflow-x: auto;
}